body{
  background-color: #2a2a2a;
  cursor: default;
}
.listWraper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1em;
}

@media screen and (max-width: 1200px){
  body{
    font-size: 12px;
  }
} 

@media screen and (max-width: 768px){
  body{
    font-size: 11px;
  }
  .listWraper{
    justify-content: center;
  }
}

@media screen and (max-width: 420px){
  body{
    font-size: 10px;
  }
}