.searchForm{
  font-size: 1.5em;
  margin-bottom: 0.3em;
}
.searchForm input{
  color: #888;
  font-size: 1em;
  border: none;
  border-bottom: solid 2px #888;
  background-color: inherit;  
  outline: none;
}
.searchForm svg{
  margin: 0 0.3em;
  cursor: pointer;
  color: #888;
}
.searchForm svg:hover{
  color: #bbb;
}