.tasks{
  padding: 0.3em;
}
.task{  
  display: grid;
  grid-template-columns: 12% auto 12% 12%;
  grid-template-rows: 1.5em auto;
  margin: 0.3em 0;
  padding-left: 0.5em;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: left;  
  background-color: #e6e6e6;
}
.task:hover{
  background-color: #d2d2d2;
}
.task .name{
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer;
}
.task .name.done{
  text-decoration: line-through;
}
.task .details{
  display: grid;
  grid-area: 2/ 1/ 2 / span 4;
  grid-template-columns: auto 12%;
  grid-template-rows: 50% 50%;
  margin-bottom: 0.1em;
}
.task .details h6{
  font-weight: 400;
  line-height: 1.5em;
  font-size: 0.6em;
  margin: 0.2em 0;
}
.task .details .time{
  grid-area: 1/ 1/ 1/ span 2;
}
.task .details .tag{
  grid-area: 2/ 1/ 2/ 2;
}
.task svg{
  margin: auto 0.1em;
  padding: 10%;
  cursor: pointer;
  border-radius: 0.1em;
}
.task svg:hover{
  background: #e8e8e8;
}
.task .checkBtn{
  color: #6dd26d;
}
.task .checkBtn:hover, .task .checkBtn.done{
  color: #009300;
}
.task .editBtn{
  color: #83aaee;
}
.task .editBtn:hover{
  color: #0c52a8;
}
.task .delBtn{
  color: #575757;
}
.task .delBtn:hover{
  color: #1a1a1a;
}