body{
  background-color: #272727;
  cursor: default;
}
header{
  padding-left: 1vw;
  font-size: 2em;
  font-weight: 700;
  color: #eee;
  background-color: #782b14;
  
}
.listWraper{
  display: flex;
  flex-direction: row;
  padding: 1em;
}
.list{
  display: flex;
  flex-direction: column;
  margin: 0 0.5em;
  padding: 0.5em;
  width: 30vw;
  border-radius: 0.5em;
  text-align: center;
}
.list.todo{
  background-color: #c1c1af;
}
.list.done{
  background-color: #575757;
}
.list.search{
  border-style: dashed;
  border-color: #888;
  background-color: transparent;
}
.listName h3{
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}
.list.search .listName{
  color: #888;
}
.addTaskForm{
  flex-direction: column;
  margin: 0 0.3em;
  padding: 0.2em;
  background-color: #e4ded6;
}
.addTaskForm h2{
  margin: 0.2em 0 0 0 ;
  color: #333;
}
.addTaskForm .warning{
  margin: 0;
  color: #ee0000;
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}
.addTaskForm button{
  margin: 0.2em 0.5em;
  font-size: 1em;
  width: 5em;
  border: solid 1px #555;
  border-radius: 0.5em;
  outline: none;
  background-color: #e9e9e9;  
  cursor: pointer;
}
.addTaskForm button:active{
  background-color: #555;
}
.addTaskForm input{
  background-color: inherit;
  outline: none;
  border: none;
  border-bottom: solid 2px #888;
}
.addTaskForm input::placeholder{
  color: #555;
}
.addTaskForm .taskNameInput{    
  margin: 1% 2%;
  font-size: 1.3em;
  height: 1.3em;
  line-height: 1.3em;
  outline: none;
}
.taskTagInput{
  margin: 2% 2% 1% 2%;
}
.searchForm{
  font-size: 1.5em;
}
.searchForm input{
  color: #888;
  font-size: 1em;
  border: none;
  border-bottom: solid 2px #888;
  background-color: inherit;  
  outline: none;
}
.searchForm svg{
  color: #888;
  margin: 0 0.3em;
}
.majorBtn{
  /* align-self: flex-end; */
  margin-top: 0.5em;
  cursor: pointer;
  font-size: 3.5em;  
  color: #e97a35;
}
.majorBtn:hover{
  color: #ff5900;
}
.tasks{
  padding: 0.3em;
}
.task{  
  display: grid;
  grid-template-columns: 12% auto 12% 12%;
  grid-template-rows: 1.5em auto;
  margin: 0.3em 0;
  padding-left: 0.5em;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: left;  
  background-color: #e6e6e6;
}
.task:hover{
  background-color: #8f8f8f;
}
.task h5{
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer;
}
.task h5.done{
  text-decoration: line-through;
}
.task .details{
  grid-area: 2/ 1/ 2 / span 4;
  display: grid;
  grid-template-columns: auto 12%;
  grid-template-rows: 50% 50%;
}
.task .details h6{
  font-weight: 400;
  line-height: 2em;
  font-size: 0.6em;
  margin: 0;
}
.task .details .time{
  grid-area: 1/ 1/ 1/ span 2;
}
.task .details .tag{
  grid-area: 2/ 1/ 2/ 2;
}

.task svg{
  margin: auto 0.1em;
  padding: 10%;
  cursor: pointer;
  border-radius: 0.1em;
}
.task svg:hover{
  background: #cdcaca;
}
.task .checkBtn{
  color: #87e187;
}
.task .checkBtn:hover, .task .checkBtn.done{
  color: #009300;
}
.task .editBtn{
  color: #83aaee;
}
.task .editBtn:hover{
  color: #0c52a8;
}
.task .delBtn{
  color: #414141;
}
.task .delBtn:hover{
  color: #1a1a1a;
}
.task .taskNameInput{
  font-size: 1em;
  border: none;
  border-bottom: solid #000 2px;
  outline: none;
  background-color: inherit;
}
.task .taskTagInput{
  width: 50%;
  border: none;
  border-bottom: solid #000 1px;
  outline: none;
  background-color: inherit;
}
.submitEdit{
  grid-area: 3/ 1/ 3/ 5;
  text-align: center;
  margin: 0.1em 0;
}
.submitEdit button{
  margin: 0.1em 0.5em;
  font-size: 0.7em;
  width: 5em;
  border: solid 1px #555;
  border-radius: 0.5em;
  outline: none;
  background-color: #e9e9e9;  
  cursor: pointer;
}
.submitEdit button:active{
  background-color: #555;
}
